<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" user-scalable="no"/>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/default.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/index.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Home/stylesheets/index.css">
	<title>Messager</title>
</head>
<body>
<div id="invalid" data-role="dialog" data-theme="a">
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/index.js"></script>
	<div data-role="header">
		<h1>Warning</h1>
  	</div>
    <div data-role="content"> 
		All Data will be cleared!<br/>
		<button id="clear" data-role="button">Confirm</button>
    </div>
</div>
</body>
</html>