<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" user-scalable="no"/>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/default.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Home/stylesheets/index.css">
	<title>No.100</title>
</head>
<body>
<div data-role="page" data-theme="a">
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/index.js"></script>
	<div data-role="header" data-position="fixed">
		<a href="__CONTROLLER__/index" data-role="button" data-icon="back">back</a>
		<h1>No.100</h1>
	</div>
	<div data-role="content">
			<div class="top">{$page}</div>
			<volist name="messagers" id="messagers">
				<div data-role="collapsible">
					<text class="hide id">{$messagers.id}</text>
					<h1>{$messagers.name}:</h1>
					<p>{$messagers.note}</p>
					<div data-role="controlgroup" data-type="horizontal" style="text-align:center;">
						<text class="hide id">{$messagers.id}</text>
						<if condition="($messagers.done eq 0)">
							<button class="done" data-role="button" data-icon="check">Check</button>
 						<else/>
 							<button class="undone" data-role="button" data-icon="check">Uncheck</button>
						</if>
						<button class="delete" data-role="button" data-icon="delete">Delete </button>
					</div>
				</div>
			</volist>
			<!-- test -->
			<div class="bottom">{$page}</div>
			<script type="text/javascript">
				$('.top .prev').text()=='prev'?$('.top').html('<a class="refresh" href="/Messager/index.php/Home/Index/messager/p/1.html" data-role="button">Refresh</a>'):$('.top').remove();$('.num').remove();$('.current').remove();$('.top .next').remove();$('.top .prev').remove();$('.bottom .prev').remove();$('.bottom .next').text('Load more');$('.bottom .next').attr('data-role','button');
			</script>
		</div>
	<div data-role="footer" data-position="fixed"></div>
</div>
</body>
</html>