<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="yes" name="mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no,email=no" name="format-detection"/>
	<meta name="viewport" content="width=device-width" user-scalable="no"/>
	
	<link rel="shortcut icon" size="64x64" href="__PUBLIC__/Static/icon.png"/>
	<link rel="icon" size="64x64" href="__PUBLIC__/Static/icon.png"/>
	<link rel="apple-touch-icon" size="64x64" href="__PUBLIC__/Static/icon.png"/>
	
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/default.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Home/stylesheets/index.css">
	<title>No.100</title>
</head>
<body>
<div data-role="page" data-theme="a" id="home">
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/index.js"></script>
	<div data-role="header" data-position="fixed">
		<h1>No.100</h1>
	</div>
	<div data-role="content">
		<a class="static" id="goMessager" href="__CONTROLLER__/messager" data-role="button" data-transition="flip" data-icon="grid" data-iconpos="right">Show Addens</a>
		<a class="static" href="__CONTROLLER__/postMessager" data-role="button" data-icon="arrow-r" data-iconpos="right">Add one</a>
		<a class="static" href="__CONTROLLER__/clear" data-role="button" data-icon="alert" data-iconpos="right">Clear Data</a>
		<br/>
	</div>
	<div data-role="footer" data-position="fixed"></div>
</div>
</body>
</html>