<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" user-scalable="no"/>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/default.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/jquery.mobile/jquery.mobile-1.4.5.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Home/stylesheets/index.css">
	<title>No.100</title>
</head>
<body>
<div data-role="dialog" data-theme="a">
	<script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/index.js"></script>
	<div data-role="header" data-position="fixed">
		<h1>No.100</h1>
	</div>
	<div data-role="content">
<!-- post messager -->
		<input id="name" type="text" name="name" placeholder="Enter Title"/>
		<textarea id="note" rows="5" name="note" placeholder="Enter Detail"></textarea>
		<button data-role="button" id="postMessager">Add Now!</button>
<!-- post messager -->
	</div>
</div>
</body>
</html>
